#logo {
    max-height: 4em;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #f9f9f9;
    max-width: 100vw !important;
    padding: 13px;
}

/* Dropdown Button */
button {
    font-size: 1.3em;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 6em;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    left: 9em;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content p {
    color: black;
    padding: 4px 6px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    margin-bottom: 0px;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {
    background-color: #ddd;
}

#container {
    display: flex;
    margin-bottom: 1em;
}

#video {
    width: 640px;
    max-width: calc(50% - 20px);
    flex: 1;
    padding-right: 20px;
}

#map-container {
    flex: 1;
    min-height: 480px;
}

/* Stack the containers if screen is narrow */
@media only screen and (max-width: 1000px) {
    #container {
        flex-direction: column;
    }

    #video {
        max-width: 100vw;
        padding: 0px;
    }

    #map-container {
        width: 100vw;
        padding: 0px;
    }
    body {
        padding-left: 0px;
        padding-right: 0px;
    }
}

#footer {
    border: 0 solid #2c8898;
    border-color: rgb(213, 214, 216);
    border-top-width: 2px;
    margin-top: 1.2em;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1em;
}

#footer a {
    margin-right: 2em;
}

#error {
    display: none;
    font-size: 36px;
    font-weight: bold;
    color: red;
}
