<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            Streetwarp Web | Create Hyperlapse videos from Street View along any route
        </title>
        <meta name="description" content="Hyperlapse routes with Google Street View.
        Turn any Google Maps link or GPX route into animated hyperlapse movies for free.
        With Strava and Google Maps integration."" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/vendor/sakura.css" />
        <link rel="stylesheet" href="/static/index.css" />
        <script
            async
            defer
            data-domain="streetwarp.ml"
            src="https://plausible.pelmers.com/js/plausible.js"
        ></script>
        <script>
            window.plausible =
                window.plausible ||
                function () {
                    (window.plausible.q = window.plausible.q || []).push(arguments);
                };
        </script>
    </head>

    <body>
        <img id="logo" src="/static/logo.png" alt="StreetWarp Web" />
        <i
            >Hyperlapse GPX routes using Google Streetview
            <a id="example" href="#">(what does that look like?)</a></i
        >
        <ul style="font-size: smaller; font-weight: 600" id="features">
            <li>
                <i>New feature: see public videos (below)!</i>
            </li>
            <li>
                <i
                    >New feature: Results map powered by
                    <a href="https://gpx.pelmers.com" target="_blank"
                        ><b>GPX Replay</b></a
                    >!</i
                >
            </li>
            <li>
                <i
                    >Like map visualizations? Check out
                    <a href="https://metro.pelmers.com" target="_blank"
                        ><b>Metro Lens</b></a
                    >!</i
                >
            </li>
        </ul>
        <!-- man this really needs a rewrite in react... -->
        <!-- show a list of recent public videos (click to open the list, like the demo example) -->
        <div>
            <i
                ><a id="recent_results" href="#"
                    >Public videos: See the latest Streetwarp creations (click for
                    list)</a
                ></i
            >
        </div>

        <ol id="steps">
            <li>
                <button id="strava-button">
                    <img src="/static/vendor/strava_btn.png" />
                </button>
                <button id="rwgps-button">
                    <img src="/static/vendor/ridewithgps_btn.png" />
                </button>
                <button id="gmaps-button">
                    <img src="/static/vendor/googlemaps_btn.png" />
                </button>
                <div id="strava-error">Strava Error message</div>
                <div id="strava-connected">
                    <img id="strava-profile" />
                    <h4>Strava Connected as <span id="strava-name"></span></h4>
                </div>
                <h4 id="strava-activity-text">Enter Strava activity or route URL:</h4>
                <input
                    type="text"
                    id="strava-activity-input"
                    required
                    placeholder="e.g. https://www.strava.com/activities/4090356826"
                />
                <button id="strava-activity-button">Submit</button>

                <div id="rwgps-error">RideWithGPS Error message</div>
                <h4 id="rwgps-activity-text">
                    Enter Ride With GPS route URL (must be public):
                </h4>
                <input
                    type="text"
                    id="rwgps-activity-input"
                    required
                    placeholder="e.g. https://ridewithgps.com/routes/34667080"
                />
                <button id="rwgps-activity-button">Submit</button>

                <h4 id="gmaps-directions-text">Enter Google Maps Directions URL:</h4>
                <input
                    type="text"
                    id="gmaps-directions-input"
                    required
                    placeholder="e.g. https://www.google.com/maps/dir/Space+Needle,+Space+Needle,+Broad+Street,+Seattle,+WA/Pike+Place+Market,+Seattle,+WA/@47.6154244,-122.3486464,16z"
                />
                <button id="gmaps-directions-button">Submit</button>

                <h4 id="gpx-step-header">OR Upload GPX file</h4>
                <div id="gpx-step-contents">
                    <div>
                        <button id="gpx-button">Select</button>
                        <input type="file" id="gpx-input" accept=".gpx" />
                    </div>
                    <div id="gpx-dragdrop">Or drag and drop here</div>
                </div>
            </li>
            <li>
                <h4>Choose target frame density</h4>
                <div>
                    <input
                        id="frame-density"
                        type="range"
                        min="3"
                        max="200"
                        value="199"
                    />
                    <span id="frame-density-label">199</span>
                </div>
                <i style="font-size: 0.8em"
                    >Maximum number of streetview images requested per kilometer. Actual
                    number may be lower if duplicates are detected. In practice I don't
                    think Streetview provides more than about 150.</i
                >
                <div>
                    <button id="fetch-metadata">Fetch Metadata</button>
                </div>
            </li>
            <li>
                <h5>Stats:</h5>
                <ul id="gpx-stats"></ul>
            </li>
            <li>
                <h4>Enter Google API key</h4>
                (<a style="font-size: 0.8em" href="#why-key">why am I asking?</a>) (<a
                    style="font-size: 0.8em"
                    href="#disclaimer"
                    >disclaimer</a
                >)
                <br />
                Not sure what this means? see
                <a href="#api-instructions">Instructions</a>
                <br />
                Each Google account comes with $200 a month of free API usage!
                <input type="text" id="api-key-input" required />
                <span class="bar"></span>
                <label>API Key</label>
            </li>
            <li>
                <h4>Build Hyperlapse</h4>
                <i>Note:</i> processing this hyperlapse will cost about
                <span id="cost-estimate"></span>
                <br />
                <i>Remember:</i> the first $200 a month is free, see your current usage
                <a
                    href="https://console.cloud.google.com/google/maps-apis/overview"
                    target="_blank"
                    >here</a
                >
                <div style="display: flex">
                    <button id="fast-button">Fast</button>
                    <button id="slow-button">Smooth</button>
                </div>
                <input id="optimize-checkbox" type="checkbox" checked/><i
                    >Try to remove sudden jumps from result (may not always be
                    better)</i
                >
                <br />
                <input id="public-checkbox" type="checkbox" /><i
                    >Make the video public (visible on home page)</i
                >
            </li>
            <li>
                <a id="result-anchor" target="_blank"><button>View Result!</button></a>
            </li>
        </ol>
        <div id="loading-spinner"></div>
        <div id="loading-spinner-progress-text">0%</div>

        <div id="api-notes">
            <div id="api-instructions">
                <i>How to get a Google API key:</i>
                <ol>
                    <li>
                        Sign up for a Google Developer account
                        <a href="https://console.developers.google.com/" target="_blank"
                            >here</a
                        >
                    </li>
                    <li>Create a new project with any name you like</li>
                    <li>
                        Enable billing on your account
                        <a
                            href="https://console.cloud.google.com/project/_/billing/enable"
                            target="_blank"
                            >here</a
                        >
                    </li>
                    <li>
                        Activate the <b>Streetview Static API</b>
                        <a
                            href="https://console.cloud.google.com/apis/library/street-view-image-backend.googleapis.com"
                            target="_blank"
                            >here</a
                        >
                    </li>
                    <li>
                        Retrieve your API key credentials
                        <a
                            href="https://console.cloud.google.com/apis/credentials"
                            target="_blank"
                            >here</a
                        >
                    </li>
                </ol>
            </div>
            <div id="why-key">
                <i>Why am I asking for your API key?</i>
                <ul>
                    <li>
                        It's simply because the Streetview API is
                        <a
                            href="https://developers.google.com/maps/billing/gmp-billing#static-street-view"
                            >very expensive</a
                        >. This program easily downloads thousands of images to turn the
                        route into a video, which I can't afford to maintain on my own.
                    </li>
                </ul>
            </div>
            <div id="disclaimer">
                <i>Disclaimer:</i>
                <ul>
                    <li>
                        I won't store your API key or use it outside of the context of
                        this program
                    </li>
                    <li>
                        Any cost incurred by usage of this program is your
                        responsibility
                    </li>
                    <li>
                        <a
                            href="https://console.cloud.google.com/google/maps-apis/quotas"
                            target="_blank"
                            >Set a quota</a
                        >
                        in the API console to avoid accidental overuse!
                    </li>
                </ul>
            </div>
        </div>
        <div id="footer">
            <a href="https://pelmers.com/streetwarp-tech-details/">About</a>
            <a href="https://github.com/pelmers/streetwarp-web">Source</a>
            <a href="https://github.com/pelmers/streetwarp-web/issues/">Report bug</a>
            <a href="https://github.com/pelmers/streetwarp-web/issues/"
                >Request feature</a
            >
        </div>
        <script src="/dist/google-maps-data-parameter-parser/src/googleMapsDataParameter.js"></script>
        <script src="/dist/index.bundle.js" async defer></script>
    </body>
</html>
